<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"

       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
    ">
    <bean id="musicien1" class="fr.formation.model.Musicien" scope="prototype">
        <property name="morceau" value="La carioca"/>
        <property name="instrument" ref="piano1"/>
    </bean>
    <bean id="piano1" class="fr.formation.model.Piano"/>
    <bean id="violon1" class="fr.formation.model.Violon"/>




</beans>